.App {
  text-align: center;
}

.table {
  width: 80%;
  text-align: center;  
}

td {
  padding: 15px;
  text-align: center
}

tr:hover {background-color: turquoise;}

thead {
  background-color: #e3f1ff;
  color: blue;
  padding: 15px;
  text-align: center
}

.car-wrapper {
  width: 80%;
}

.employee-wrapper {
  width: 80%;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-label {
  text-align: left;
  padding-left: 25px;
}

.div-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}